{{#block "header"}}

   <!doctype html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport"
             content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title>{{#block "title"}}Welcome to Your Resume Builder{{/block}}</title>
       <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
       <link rel="stylesheet" href="/app.css">
   </head>
   <body>
        <div class="container">
            <div class="jumbotron">
                <h1> Your Resume </h1>
            </div>
        </div>
        <div class= "container">

            <ul class="nav nav-tabs">
               <li role="presentation" class="active"><a href="#">Form</a></li>
               <li role="presentation"><a href="/posts">See All Jobs</a></li>
               <li role="presentation"><a href="/posts/new">Add a New Job</a></li>
            </ul>
           <!--begin main template-->
           <div class="page-header">
               <img src="" width="70%">
               <h1>Welcome to Your Resume Builder. <small>let's get started
               !</small></h1>
           </div>

           <div class="col-md-12">
{{/block}}


{{#block "content"}}
            </div>
        </div>